<link href="../jquery-timepicker-master/jquery.timepicker.css" rel="stylesheet" />
<script src="../jquery-timepicker-master/jquery.timepicker.js"></script>
<section class="forms" ng-init="Init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Informasi</h2>
                    </div>
                    <div class="card-block">
                        <form class="form-horizontal" ng-submit="UpdateSubMateri(Item)">
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Kode Materi</label>
                                <div class="col-sm-10">
                                    <label class="col-sm-10 form-control-label">{{Materi.KodeMateri}}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Judul Materi</label>
                                <div class="col-sm-10">
                                    <label class="col-sm-10 form-control-label">{{Materi.JudulMateri}}</label>
                                </div>
                            </div>
                            <div class="line"></div>
                           
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Kode Sub Materi</label>
                                <div class="col-sm-10">
                                    <input disabled type="text" ng-model="Item.KodeSubMateri" class="col-sm-4 form-control-label" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Judul Sub Materi</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="Item.JudulSubMateri" class="col-sm-10 form-control-label" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 form-control-label"></label>
                                <div class="col-sm-10">
                                    <input type="submit" value="Simpan" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Penjelasan</h2>
                    </div>
                    <div class="card-block">
                        <form class="form-horizontal" ng-submit="SavePenjelasan(Item)">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea  id="editor1" ng-model="Item.Penjelasan"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Simpan" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display display">Gambar</h2>
                    </div>
                    <div class="card-block">
                        <form>
                            <div class="col-md-12 well" style="height:350px" file-canvas>
                                <img style="height:100%;width:100%" src="data:image/gif;base64,{{Item.DataGambar}}" />
                              
                                <input style="visibility:hidden" type="file" file-model="myFile" />
                            </div>
                            <button class="btn btn-primary" ng-click="UploadFoto(myFile)">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Video Animasi</h2>
                    </div>
                    <div class="row card-block">
                        <form>
                            <div class="col-md-12 well" style="height:350px" file-canvas>
                                <video width="320" height="320" controls src="data:video/mp4;base64,{{Item.DataAnimasi}}"></video>
                                <input style="visibility:hidden" type="file" file-model="videoFile" accept="*.mp4" />
                            </div>
                            <button class="btn btn-primary" ng-click="UploadVideo(videoFile)">Simpan</button>
                        </form>
                      
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<script type="text/javascript">
                            CKEDITOR.replace("editor1");
                            CKEDITOR.editorConfig = function (config) {
                                // Define changes to default configuration here. For example:
                                // config.language = 'fr';
                                // config.uiColor = '#AADC6E';
                            };

</script>
