<div class="col-lg-12" ng-init="Init()">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <a data-target="#addMateri" ng-click="ModalTitle='Tambah Materi'" role="button" data-toggle="modal" style="color:green" class="btn"><i class="fa fa-plus-circle fa-2x"></i></a>
            <h2 class="h5 display">DAFTAR MATERI</h2>
        </div>
        <div class="card-block">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kode Materi</th>
                        <th>Judul Materi</th>
                        <th style="width:10%; align-content:center" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Items">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.KodeMateri}}</td>
                        <td>{{item.Judul}}</td>
                        <td>
                            <div class="dropdown">
                                <a href="!#" class="dropdown-toggle" data-toggle="dropdown">Action<strong class="caret"></strong></a>
                                <ul class="dropdown-menu" style="padding:10px">
                                    <li>
                                        <a href="#!submateri/{{item.Id}}"><i class="fa fa-list">Details</i></a>
                                    </li>
                                    <li>
                                        <a href="" data-target="#addMateri" role="button" data-toggle="modal" ng-click="SelectedItem(item);ModalTitle='Edit Materi'"><i class="fa fa-edit">Edit</i></a>
                                    </li>
                                    <li>
                                        <a href="" role="button" ng-click="DeleteMateri(item)"><i class="fa fa-remove">Hapus</i></a>
                                    </li>
                                  
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-12">
        <div class="modal fade" id="addMateri" role="dialog" my-modal aria-labelledby="addMateri" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form ng-submit="AddNewItem(model)">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                               {{ModalTitle}}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-block">

                                    <div class="form-group">
                                        <label>Kode Materi</label>
                                        <input type="text" required placeholder="Kode Materi" ng-model="model.KodeMateri" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Judul Materi</label>
                                        <textarea required placeholder="Judul Materi" ng-model="model.Judul" class="form-control"></textarea>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Keluar
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>

