<div class="col-lg-12" ng-init="Init()">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <a data-target="#addSubMateri" ng-click="ModalTitle='Tambah Sub Materi'" role="button" data-toggle="modal" style="color:green" class="btn"><i class="fa fa-plus-circle fa-2x"></i></a>
            <h2 class="h5 display">DAFTAR SUB MATERI</h2>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-10" ng-show="!withCombo">
                    <div class="col-md-6">
                        <label>Kode Materi : {{Materi.KodeMateri}} </label>
                    </div>
                    <div class="col-md-6">
                        <label>Judul Materi : {{Materi.JudulMateri}}</label>
                    </div>
                </div>
                <div class="col-10" ng-show="withCombo">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Kode Materi :</label>
                        <div class="col-sm-8">
                            {{Materi.KodeMateri}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Judul Materi :</label>
                        <div class="col-sm-8">
                            <select ng-change="OptionSelected()" class="form-control inl" ng-options="item as item.JudulMateri for item in Materis track by item.KodeMateri" ng-model="Materi"></select>
                        </div>
                    </div>
                  
                </div>
            </div>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:5%">#</th>
                        <th  style="width:15%">Kode Sub Materi</th>
                        <th>Sub Materi</th>
                        <th style="width:10%; align-content:center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Items">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.KodeSubMateri}}</td>
                        <td>{{item.JudulSubMateri}}</td>
                        <td>
                            <div class="dropdown">
                                <a href="!#" class="dropdown-toggle" data-toggle="dropdown">Action<strong class="caret"></strong></a>
                                <ul class="dropdown-menu" style="padding:10px">
                                    <li>
                                        <a href="#!detail/{{Materi.KodeMateri}}/{{item.KodeSubMateri}}"><i class="fa fa-edit">Edit</i></a>
                                    </li>
                                    <li>
                                        <a href="#!soal/{{item.KodeSubMateri}}"><i class="fa fa-list">Kuis</i></a>
                                    </li>
                                    <li>
                                        <a href="#!topik/{{item.KodeSubMateri}}"><i class="fa fa-clock-o">Topik</i></a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="DeleteSubMateri(item)"><i class="fa  fa-remove">Hapus</i></a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                      
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="modal fade" id="addSubMateri" my-modal role="dialog" aria-labelledby="addMateri" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="AddSubMateri(model)">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{ModalTitle}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-block">

                                <div class="form-group">
                                    <label>Kode Sub Materi</label>
                                    <input maxlength="6" type="text" placeholder="Kode Sub Materi" ng-model="model.KodeSubMateri" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Judul Sub Materi</label>
                                    <textarea maxlength="100" placeholder="Judul Sub Materi" ng-model="model.JudulSubMateri" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Batal
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Simpan
                        </button>
                    </div>
                </form>
            </div>


        </div>

    </div>

</div>

